.alin,
        input {
            margin-left: 20px;
        }

        #result {
            margin-left: 10px;
            text-align: center;
        }

        .igual {
            margin-left: 90px;
        }

        .v2 {
            margin-left: 27px;

        }

        .ent {
            margin-left: 105px;
        }

        .res {
            text-align: ;
        }
        .container{
            text-align: center;
        }